<header>
    <nav>
        <ul>
            <% if (user) { %>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/memories">Memories</a></li>
                <li><form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } %>
        </ul>
    </nav>
</header>