<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>

<body>
    <%- include('partials/header') %>
    <% if (protect.length > 0) { %>
        <div class="flash-messages">
            <% protect.forEach(protect => { %>
            <div class="flash-message">
                <%= protect %>
            </div>
            <% }); %>
        </div>
    <% } %>
    <div class="wrapper">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="<%= email %>">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
        </form>

        <% if (messages.length > 0) { %>
            <div class="flash-messages">
                <% messages.forEach(message => { %>
                <div class="flash-message">
                    <%= message %>
                </div>
                <% }); %>
            </div>
        <% } %>
        
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</body>

</html>