<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Memories</title>
</head>

<body>
    <%- include('partials/header') %>
    <div class="wrapper">
    <h1>Recent Moods</h1>
    <div class="mood-container">
        <% moods.forEach(mood=> { %>
            <div class="mood">
                <ul>
                    <li>Rating: <span><%= mood.rating %></span></li>
                    <% if (mood.description) { %>
                        <li>Description: <span><%= mood.description %></span></li>
                    <% } %>
                    <li>Date: <span><%= mood.date.toLocaleDateString() %></span></li>
                </ul>
            </div>
        <% }); %>
    </div>
</div>
</body>

</html>