<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Memories</title>
</head>

<body>
    <%- include('partials/header') %>
    <div class="wrapper">
    <h1>Recent Moods</h1>
    <ul>
        <% moods.forEach(mood=> { %>
            <li>
                <p>Rating: <%= mood.rating %></p>
                <% if (mood.description) { %>
                    <p>Description: <%= mood.description %></p>
                    <% } %>
                        <p>Date: <%= mood.date.toLocaleDateString() %></p>
                    <br>
            </li>
            <% }); %>
    </ul>
</div>
</body>

</html>