<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/c39f856afb.js" crossorigin="anonymous"></script>
        <link rel="preload" href="https://kit.fontawesome.com/c39f856afb.js" as="script" crossorigin="anonymous">
        <title>
            <%= title %>
        </title>
    </head>
</head>

<body>
    <div class="wrapper">
    <!-- aikaisempien päivien mielitilat -->

    <h1>Recent Moods</h1>
    <ul>
        <% moods.forEach(mood=> { %>
            <li>
                <p>Rating: <%= mood.rating %></p>
                <% if (mood.description) { %>
                    <p>Description: <%= mood.description %></p>
                    <% } %>
                        <p>Date: <%= mood.date.toLocaleDateString() %></p>
                    <br>
            </li>
            <% }); %>
    </ul>
</div>
</body>

</html>