html,
body {
    background-color: #bfc9b5;
}

nav {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 8px;
}

nav ul li button {
    background-color: transparent;
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: #555;
    border-radius: 8px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2C7865;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    color: #2C7865;
}

a {
    color: #FF9800;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper form button {
    background-color: #FF9800;
    border: none;
    color: #2C7865;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 100px;
}

.wrapper form button:hover {
    background-color: #444;
}

form input {
    padding: 6px;
    border: 1px solid #90D26D;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    margin: 4px 2px;
}

form input:focus {
    border-color: #aaa;
    outline: none;
}

.flash-messages {
    margin: 0px 10px;
}

.flash-message {
    background-color: #adbeba;
    color: #e7563d;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}

/* mood raiting styles */
.rating {
    margin-top: 20px;
}
.rating ul {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.rating li {
    display: inline-block;
    padding: 20px;    
}
.rating input {
    visibility:hidden;
    position: absolute;
}
.rating label i {
    cursor: pointer;
    font-size: 50px;
}
.rating .radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating .radio-container span {
    margin-top: 5px;
}
.rating input:checked + label i {
    transform: scale(1.1);
}
.rating input:checked + label span {
    text-decoration: underline;
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mood {
    margin: 15px;
    border: 2px solid #2C7865;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.mood ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mood li {
    margin-right: 10px;
}

.mood li:nth-child(1) { /* rating icon */
    font-size: 40px;
}

.mood li:nth-child(2) { /* description */
    flex: 1;
}

.mood li:nth-child(3) { /* time */
    font-weight: normal;
}
