html,
body {
    background-color: #bfc9b5;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
}

.wrapper {
    color: #2C7865;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    margin-bottom: 100px;
    color: #2C7865;
}

a {
    color: #FF9800;
}

form button {
    background-color: #FF9800;
    border: none;
    color: #2C7865;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 100px;
}

form button:hover {
    background-color: #444;
}

form input {
    padding: 6px;
    border: 1px solid #90D26D;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    margin: 4px 2px;
}

form input:focus {
    border-color: #aaa;
    outline: none;
}

.flash-messages {
    margin: 0px 10px;
}

.flash-message {
    background-color: #adbeba;
    color: #e7563d;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}

/* mood raiting styles */
.rating {
    margin-top: 20px;
}
.rating ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.rating li {
    display: inline-block;
    padding: 20px;    
}
.rating input {
    visibility:hidden;
    position: absolute;
}
.rating label i {
    cursor: pointer;
    font-size: 50px;
}
.rating .radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating .radio-container span {
    margin-top: 5px;
}
.rating input:checked + label i {
    transform: scale(1.1);
}
.rating input:checked + label span {
    text-decoration: underline;
}
.description {
    display: flex;
    flex-direction: column;
}